<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/department-info.css">
    <script src="scripts/department-info.js"></script>
    <!-- FONT STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>City Council Information</title>
  </head>
  <body>

<!-- NAME AT VERY TOP -->
<h1 class = "text" id = "main-header">CitizensForCommunity</h1>

<!-- WHITE BACKGROUND FOR TEXT -->
<section class = "back">

<!-- HEADER -->
<div class = "text" id="City_Council_Info_Header"> City Council Information:</div>

<!-- FIRST question AND ANSWER -->
<div class = "text" id = "question1">Is it a responsive form of government?</div>
<div class = "text" id = "answer1">In council-manager government, council members are the leaders and policy makers elected to represent various segments of the community and to concentrate on policy issues that are responsive to citizens' needs and wishes. The manager is appointed by council to carry out policy and ensure that the entire community is being served. If the manager is not responsive to the council's wishes, the council has authority to terminate the manager at any time. In that sense, a manager's responsiveness is tested daily. </div>


<!-- SECOND question AND ANSWER -->
<div class = "text" id = "question2">What is the council-manager form, which is used in so many local governments?</div>
<div class = "text" id = "answer2">The council-manager form is the system of local government that combines the strong political leadership of elected officials in the form of a council or other governing body, with the strong managerial experience of an appointed local government manager. The form establishes a representative system where all power is concentrated in the elected council and where the council hires a professionally trained manager to oversee the delivery of public services.</div>

<!-- THIRD question AND ANSWER -->
<div class = "text" id = "question3"> What is the manager's function?</div>
<div class = "text" id = "answer3">The manager is hired to serve the council and the community and to bring to the local government the benefits of training and experience in administering local government projects and programs on behalf of the governing body. The manager prepares a budget for the council's consideration; recruits, hires, and supervises the government's staff; serves as the council's chief adviser; and carries out the council's policies. Council members and citizens count on the manager to provide complete and objective information, pros and cons of alternatives, and long-term consequences.</div>

<!-- FOURTH question AND ANSWER -->
<div class = "text" id = "question4">How can a community adopt this form of government?</div>
<div class = "text" id = "answer4">Methods vary, but most communities can adopt council-manager government through a charter, a local ordinance, or a state enabling law. In many cases, adoption must be by vote of the local governing body.</div><br>

</section>
<!-- BACK TO HOME PAGE BUTTON -->
<div id = "moveButton"><button class = "text" id = "back-to-home-page-button" onclick="window.location.href = '/';">Back to Home Page</button></div>
  </body>
</html>
