<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/main-page.css">
    <script src="scripts/main-page.js"></script>
    <title></title>
  </head>
  <body>
    <form method = "post">
      Image Url:<br>
      <input type = "textbox" name = "image-url"> <br>
      Desciption:<br>
      <input type = "textbox" name = "description"><br>
      Urgency Level:<br>
      <select name = "urgency-level">
        <option value = "Low">Low</option>
        <option value = "Medium">Medium</option>
        <option value = "High">High</option>
        <option value = "Urgent">Urgent</option>
      </select><br>
    </form>
  </body>
</html>
