<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Antic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/form-page.css">
    <script src="scripts/form-page.js"></script>
    <title></title>
  </head>
  <body>
    <!-- <div id = "header_bar">
      <h1 class = "text" id = "header_text">REPORT</h1>
    </div> -->
    <div id = "body_background">
        <div id = "form_background">
          <div id = "form_background_header_image">
            <h1 class = "text" id = "header_text">R E P O R T</h1>
          </div>
          <form method = "post">
            <h2 class = "text textbox_header" id = "name_header">Full Name</h2>
              <input class = "textbox" id = "name_textbox" type = "textbox" name = "name"><br>
            <h2 class = "text textbox_header" id = "email_header">Email Address</h2>
              <input class = "textbox" id = "email_textbox" type = "textbox" name = "email"><br>
            <h2 class = "text textbox_header" id = "image_url_header">Image Url</h2>
              <input class = "textbox" id = "image_url_textbox" type = "textbox" name = "image-url"> <br>
            <h2 class = "text textbox_header" id = "description_header">Desciption</h2>
              <input class = "textbox" id = "description_textbox" type = "textbox" name = "description"><br>
            <h2 class = "text textbox_header" id = "urgency_header">Urgency Level</h2>
            <div id = "urgency_holder">
              <div class = "toggle_checkbox_holder_urgency_low toggle_checkbox_holder">
                <p class = "text toggle_checkbox_text" id = "urgency_low_text">Low</p>
              </div>
              <div class = "toggle_checkbox_holder_urgency_medium toggle_checkbox_holder">
                <p class = "text toggle_checkbox_text" id = "urgency_medium_text">Medium</p>
              </div>
              <div class = "toggle_checkbox_holder_urgency_high toggle_checkbox_holder">
                <p class = "text toggle_checkbox_text" id = "urgency_high_text">High</p>
              </div>
              <div class = "toggle_checkbox_holder_urgency_urgent toggle_checkbox_holder">
                <p class = "text toggle_checkbox_text" id = "urgency_urgent_text">Urgent</p>
              </div>

              <!-- Input checkboxes -->
              <input type = "checkbox" name = "urgency_low" id = "urgency_low" class = "toggle_checkbox"></input>
              <input type = "checkbox" name = "urgency_medium" id = "urgency_medium" class = "toggle_checkbox"> </input>
              <input type = "checkbox" name = "urgency_high" id = "urgency_high" class = "toggle_checkbox"> </input>
              <input type = "checkbox" name = "urgency_urgent" id = "urgency_urgent" class = "toggle_checkbox"> </input>

            </div>
            <!-- <select name = "urgency-level">
              <option value = "Low">Low</option>
              <option value = "Medium">Medium</option>
              <option value = "High">High</option>
              <option value = "Urgent">Urgent</option>
            </select><br> -->
            <h2 class = "text textbox_header" id = "location_header">Location</h2>
            <!-- <input type = "textbox" name = "location"><br> -->
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=47.6062,-122.3321&key=AIzaSyAxRqWmRH0WoaqkSYbLOMIg3roBnPJTqFo" allowfullscreen></iframe> <br>
            <!-- <h2 class = "text textbox_header" id = "location_suggestions_header">Location Suggestions</h2> -->
            <!-- <select name = "location suggestions">
            { % for add in addr % }
              <option value = "{ {add} }">{ {add} }</option>
            { % endfor % }
            <p>{ {addr} }</p>
            </select> -->




            <h2 class  = "text textbox_header" id = "tags_header"> Tags</h2>
            <!-- Holds all the rows of tags -->
            <div id = tag_row_holder>
              <!-- First Row Tags -->
              <div class = "tags_holder" id = "tags_first_row">

                <div class = "toggle_checkbox_holder_tag_vandalism toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_vandalism_text">Vandalism</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_drug toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_drug_text">Drug(s)</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_loitering toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_loitering_text">Loitering</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_underage_substance_use toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_underage_substance_use_text">Underage Substance Use</p>
                </div>

                <!-- tags checkboxes -->
                <!-- Row 1 -->
                <input type = "checkbox" name = "tag_vandalism" id = "tag_vandalism" class = "toggle_checkbox"></input>
                <input type = "checkbox" name = "tag_drug" id = "tag_drug" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_loitering" id = "tag_loitering" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_underage_substance_use" id = "tag_underage_substance_use" class = "toggle_checkbox"> </input>
              </div>

              <!-- Row 2 Tags -->
              <div class = "tags_holder">
                <!-- Second Row -->
                <div class = "toggle_checkbox_holder_tag_public_indecency toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_public_indeceny_text">Public Indecency</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_unsanitary toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_unsanitary_text">Unsanitary</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_litter toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_litter_text">Litter/Trash</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_biohazards toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_biohazards_text">Biohazards</p>
                </div>

                <input type = "checkbox" name = "tag_public_indecency" id = "tag_public_indecency" class = "toggle_checkbox"></input>
                <input type = "checkbox" name = "tag_unsanitary" id = "tag_unsanitary" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_litter" id = "tag_litter" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_biohazards" id = "tag_biohazards" class = "toggle_checkbox"> </input>
              </div>


              <!-- Row 3 Tags -->
              <div class = "tags_holder">
                <!-- Third Row -->
                <div class = "toggle_checkbox_holder_tag_outbreak toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_public_outbreak_text">Outbreak</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_pollution toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_pollution_text">Pollution</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_environmental_safety toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_environmental_safety_text">Environmental Safety</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_technical_connectivity toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_technical_connectivity_text">Technical Connectivity</p>
                </div>

                <input type = "checkbox" name = "tag_outbreak" id = "tag_outbreak" class = "toggle_checkbox"></input>
                <input type = "checkbox" name = "tag_pollution" id = "tag_pollution" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_environmental_safety" id = "tag_environmental_safety" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_technical_connectivity" id = "tag_technical_connectivity" class = "toggle_checkbox"> </input>
              </div>


              <!-- Row 4 Tags -->
              <div class = "tags_holder" id = "tags_last_row">
                <!-- Fourth Row -->
                <div class = "toggle_checkbox_holder_tag_structural_integrity toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_structural_integrity_text">Structural Integrity</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_transportation_infrastructure toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_transportation_infrastructure_text">Transportation Infrastructure</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_accessibility toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_accessibility_text">Accessibility</p>
                </div>
                <div class = "toggle_checkbox_holder_tag_misc_maintenance toggle_checkbox_holder">
                  <p class = "text toggle_checkbox_text" id = "tag_misc_maintenance_text">Misc. Maintenance</p>
                </div>

                <input type = "checkbox" name = "tag_structural_integrity" id = "tag_structural_integrity" class = "toggle_checkbox"></input>
                <input type = "checkbox" name = "tag_transportation_infrastructure" id = "tag_transportation_infrastructure" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_accessibility" id = "tag_accessibility" class = "toggle_checkbox"> </input>
                <input type = "checkbox" name = "tag_misc_maintenance" id = "tag_misc_maintenance" class = "toggle_checkbox"> </input>
              </div>
          </div>





              <br>
              <input type = "submit" id = "submit_button">
        </form>
        <div id = "form_background_footer_image">
        </div>
      </div>
    </div>
  </body>
</html>
