<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/main-page.css">
    <!-- FONT STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="scripts/main-page.js"></script>
    <title>CitizensForCommunity</title>
  </head>
<!-- Mission Statement -->
  <body>
    <h1 class = "text" id = "main-header">CitizensForCommunity</h1>
    <section class="back">
      <div class = "picture"><h2 class = "text" id = "missionHeader">&nbsp;Our Mission Statement&nbsp;</h2>
      <p class = "text" id = "mission-statement">CitizensForCommunity aims to resolve communication issues between individuals and local officials/resources; aiming to promote a more seamless dialogue about local issues where citizens have an amplified voice.  A new network of crowdsourced information gives local officials, departments, and agencies the vigilance to react adeptly to situations that often go unreported due to lack of insight on certain issues. CitizensForCommunity believes in the unity of people, programs, and delegates by providing an easy access to three way communication and accountability on all parties to improve the surrounding community.</p>
      <br>
  <!-- Submit Button -->
      <div id = "submitButtonholder"><input class = "text" id = "report-button" type = "button" value = "REPORT AN INCIDENT"  onclick="window.location.href = '/report';"></div>
      </div>
  </section>
<!-- Tag and Department Buttons -->
  <section>
    <div id = "infoButtonsholder"> <input class = "text" id = "tag-definition-button" type = "button" value = "Tag Definitions:" onclick="window.location.href = '/tag-info';"> <input class = "text" id = "council-definition-button" type = "button" value = "City Council Purpose:" onclick="window.location.href = '/department-info';"></div>
  </section>
<!-- Submit Button -->
    <!-- <div id = "submitButtonholder"><input class = "text" id = "report-button" type = "button" value = "REPORT AN INCIDENT"></div> -->
<!-- Whitespace at the bottom -->
    <div id = "bottom-of-page-whitespace"></div>
      <div class = "text" id = "credits">
        <p><br>Created by:<br>Seema Kulkarmi<br>Casey Puentes<br>Vi Pham<br>Google CSSI 2019<br></p>
      </div>
  </body>
</html>
