<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/main-page.css">
    <script src="scripts/main-page.js"></script>
    <title></title>
  </head>
  <!-- CONFIRMATION MESSAGE -->
  <body>
    <section>
    <br>
      <h1 class = "text" id = "confirmation-message">Thank you, your incident report has been submitted.</h1>
    <br>
    </section>
<!-- CitizensForCommunity at bottom of page -->
    <section>
      <br>
      <h2 class = "cfc-text" id = "cfc-bottom">CitizensForCommunity</h1>
      <br>
    </section>
  </body>
</html>
