<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/submission-confirmed-page.css">
    <script src="scripts/main-page.js"></script>
    <title></title>
  </head>
  <!-- CONFIRMATION MESSAGE -->
  <body>
    <button onclick="window.location.href = '/';">Back to Main</button>
    <div>
    <br>
      <h1 class = "text" id = "confirmation-message">Thank you, your incident report has been submitted.</h1>
    <br>
  </div>
<!-- CitizensForCommunity at bottom of page -->
    <div>
      <br>
      <h2 class = "cfc-text" id = "cfc-bottom">CitizensForCommunity</h2>
      <br>
    </div>
  </body>
</html>
