<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/submission-confirmed-page.css">
    <!-- FONT STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="scripts/main-page.js"></script>
    <title>CONFIRMATION</title>
  </head>
  <!-- CONFIRMATION MESSAGE -->
  <body>
    <h1 class = "text" id = "main-header">CitizensForCommunity</h1>
    <!-- <button class = "text" id = "backtohomebutton" onclick="window.location.href = '/';">Back to Home Page</button> -->
    <div>
    <br>
    <h2 class = "text" id = "confirmation-message">Thank you,<br> your incident report has been submitted.</h2>
    <div id = "whitespace-between-message-button"></div>
    <div id = "button_holder">
      <button class = "text" id = "backtohomebutton" onclick="window.location.href = '/';">Back to Home Page</button>
    </div>
    <br>
  </div>
<!-- CitizensForCommunity at bottom of page -->
      <br>
      <div id = "whitespace"></div>
      <div class = "text" id = "cfc-bottom"><br>Created by:<br>Seema Kulkarmi<br>Casey Puentes<br>Vi Pham<br>Google CSSI 2019</div>
  </body>
</html>
