<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/tag-info.css">
    <script src="scripts/tag-info.js"></script>
    <!-- FONT STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Tag Information</title>
  </head>
  <body>

<!-- NAME AT VERY TOP -->
<h1 class = "text" id = "main-header">CitizensForCommunity</h1>

<!-- WHITE BACKGROUND FOR TEXT -->
<section class = "back">

<!-- TAG INFO HEADER -->
<div class = "text" id = "Tag_Info_Header"><br><b>Tag Information:</b></div>
  <div class = "text" id = "tag-info">Tags in the CitizensForCommunity web application is used to allow users to refine their search and accurately classify the issue they're reporting, essentially making it easier for the right people to use the right resources to resolve the problem at hand. </div>

<!-- TAGS AND DEFINITIONS -->
<div class = "text" id = "vandalism-word">Vandalism:</div>
  <div class = "text" id = "vandalism-definition">Action involving deliberate destruction of or damage to public or private property.</div>

<div class = "text" id = "drug-word">Illegal Drug Use:</div>
  <div class = "text" id = "drug-definition">Use of any illegal drugs. (Check with local authorities on which drugs are illegal in your area)</div>

<div class = "text" id = "loitering-word">Loitering:</div>
  <div class = "text" id = "loitering-definition">Standing around or waiting in one area with no clear purpose. (Check local loitering laws to determine where it is illegal to loiter in your area)</div>

<div class = "text" id = "underage-word">Underage Substance Use:</div>
  <div class = "text" id = "underage-definition">Consumption of drugs that are age-restricted by those who are not yet at the correct age limit. (Check local laws to find out which drugs are age-restricted and the drugs specific age restrictions)</div>

<div class = "text" id = "indecency-word">Public Indecency:</div>
  <div class = "text" id = "indecency-definition">The deliberate exposure in public or in view of the general public by a person of a portion or portions of their body in circumstances where the exposure is contrary to local moral or other standards of appropriate behavior.</div>

<div class = "text" id = "unsanitary-word">Unsanitary:</div>
  <div class = "text" id = "unsanitary-definition">Anything that can potentially pose a risk to the public's health.</div>

<div class = "text" id = "litter-word">Excessive Litter:</div>
  <div class = "text" id = "litter-definition">Excessive trash that is left lying in open or public places.</div>

<div class = "text" id = "biohazard-word">Excessive Bodily Fluids:</div>
  <div class = "text" id = "biohazard-definition">Excessive presence of bodily fluids in a public area.</div>

<div class = "text" id = "outbreak-word">Landscaping Issue(s):</div>
  <div class = "text" id = "outbreak-definition">Issues with foliage in public areas.</div>

<div class = "text" id = "pollution-word">Pollution:</div>
  <div class = "text" id = "pollution-definition">The presence in or introduction into the environment of a substance or thing that has harmful or poisonous effects.</div>

<div class = "text" id = "environmental-word">Environmental Safety:</div>
  <div class = "text" id = "environmental-definition">Anything that can potentially pose a risk to the health of the environment.</div>

<div class = "text" id = "technical-word">Technical Connectivity:</div>
  <div class = "text" id = "technical-definition">Refers to a community’s collection of hardware, software, networks, data centers, facilities and related equipment used to develop, test, operate, monitor, manage and/or support information technology services such as traffic systems, surveillance, and network lines.</div>

<div class = "text" id = "structural-word">Structural Integrity:</div>
  <div class = "text" id = "structural-definition">Health of building support systems.</div>

<div class = "text" id = "transportation-word">Transportation Infrastructure:</div>
  <dic class = "text" id = "transportation-definition">Health of any public infrastructure including roads and bridges.</div>

<div class = "text" id = "accessibility-word">Accessibility:</div>
  <div class = "text" id = "accessibility-definition">Any public accessibility equipment.</div>

</section>
<!-- BACKGROUND BEHIND BUTTON -->
<div class = "color-behind-button">

<!-- BACK TO HOME PAGE BUTTON -->
<button class = "text" id = "backtohomebutton" onclick="window.location.href = '/';">Back to Home Page</button>
</div>

  </body>
</html>
