<!DOCTYPE html>
<html>
  <head>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="styles/main-page.css">
    <script src="scripts/main-page.js"></script>
    <title></title>
  </head>
  <body>


    <h1 id="Tag_Info_Header">Tag Information</h1>

    <h2 id="Explanation_of_Tags">Tags in the CitizensForCommunity web application is used to allow users to
      refine their search and accurately classify the issue they're reporting, essentially
      making it easier for the right people to use the right resources to resolve the problem at hand </h2>


    <h3 class="definition">Vandalism</h3>
    <p>Vandalism: If you witness action involving deliberate destruction of or damage to public or private property.</p>

    <h3 class="definition">Drugs</h3>
    <p>Drug(s): If you witness any drug related actions such as selling, using, or disposing of any harmful paraphernalia.</p>

  <h3 class="definition">Loitering</h3>
  <p>Loitering: If you witness individuals/groups of people standing or waiting around idly or without apparent purpose in a prohibited area.</p>

<h3 class="definition">Underage Substance</h3>
<p>Underage Substance Use: If you witness a visibly underage individual partaking in any drug/alcohol activities.</p>

<h3 class="definition">Public Indecency</h3>
<p>Public Indecency: The deliberate exposure in public or in view of the general public by a person of a portion or portions of their body in circumstances where the exposure is contrary to local moral or other standards of appropriate behavior. </p>

<h3 class="definition">Unsanitary</h3>
<p>Unsanitary: Anything that can potentially pose a risk to the public's health.</p>

<h3 class="definition">Litter & Trash</h3>
<p>Litter & Trash: If you see trash, such as paper, cans, and bottles or  anything that is harmful to Earth’s environment, that is left lying in an open or public places. </p>

<h3 class="definition">Biohazards</h3>
<p>Biohazards: Hazard to humans or the environment resulting from biological agents or conditions such as, but not limited to, exposure to bodily fluids and toxins or unsafe levels of chemicals in water or soil.</p>

<h3 class="definition">Outbreak</h3>
<p>Outbreak:Incidents such as diseases, or infestations.</p>

<h3 class="definition">Pollution</h3>
<p>Pollution: The presence in or introduction into the environment of a substance or thing that has harmful or poisonous effects.</p>

<h3 class="definition">Environmental Safety</h3>
<p>Environmental Safety: Anything that can potentially pose a risk to the health of the environment.</p>

<h3 class="definition">Technical Connectivity</h3>
<p>Technical Connectivity: Refers to a community’s collection of hardware, software, networks, data centers, facilities and related equipment used to develop, test, operate, monitor, manage and/or support information technology services such as traffic systems, surveillance, and network lines.</p>

<h3 class="definition">Structural Integrity</h3>
<p>Structural Integrity: Structural integrity and failure is an aspect of engineering which deals with the ability of a structure to support a designed structural load without breaking.</p>

<h3 class="definition">Transportation</h3>
<p>Transportation Safety: Transportation safety refers to the methods and measures used to prevent road and route users from being killed or seriously injured.</p>

<h3 class="definition">Accessibility</h3>
<p>Accessibility: Anything that is not accessible to people with physical disabilities. </p>

<button onclick="window.location.href = '/';">Back to Main</button>

  </body>
</html>
