body{
  background-color: #b3b3b3;
}

.clouds{
  background-image: url("http://images.unsplash.com/photo-1528055823578-1c18ae59ef8c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 15px;
}

/* TITLE AT VERY TOP */
#main-header{
  color: #a5ffa1;
  /* color: #ebba34; */
  text-align: center;
  font-size: 45px;
}

/* HEADER ABOVE PARAGRAPH */
#missionHeader{
  font-size: 28px;
  color: #dbac2a;
  text-align: center;
}

/* PARAGRAPH */
#mission-statement{
  font-size: 24px;
  color: #cf5e32;
  background-color: rgba(0,0,0,0);
  text-align: center;
  margin: 0 100px;
  line-height: 1.5em;
}

/* TAG BUTTON */
#tag-definition-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#tag-definition-button{
  border: 2px #4d83db;
  background-color: #4d83db;
  font-size: 35px;
  border-radius: 7.5px;
  position: relative;
  left: 395px;
}

/* COUNCIL BUTTON */
#council-definition-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#council-definition-button{
  border: 2px #4d83db;
  background-color: #4d83db;
  font-size: 35px;
  border-radius: 7.5px;
  position: relative;
  left: 695px;
}

/* REPORT BUTTON */
/* #whitespace-between-definitionsAndreport{
  min-height: 150px;
  display: block;
} */

#report-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#report-button{
  border: 2px #e34f44;
  background-color: #e34f44;
  font-size: 45px;
  position: relative;
  left: 575px;
}

/* Whitespace at the bottom */
#bottom-of-page-whitespace{
  min-height: 350px;
  display: block;
}
