body{
  background-color: #b3b3b3;
  width: 100%;
  margin: 0;
}

.text{
  font-family: 'Montserrat', sans-serif;
}

.back{
  width: 100%;
  background-color: #ededed;
}

.picture{
  background-image: url("http://images.unsplash.com/photo-1528055823578-1c18ae59ef8c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  width: 64%;
  margin: 0 auto;
  padding-top: 15px;
  border: 10px #383535 solid;
  text-align: center;
}

/* TITLE AT VERY TOP */
#main-header{
  color: #383535;
  text-align: center;
  font-size: 45px;
}

/* HEADER ABOVE PARAGRAPH */
#missionHeader{
  font-size: 28px;
  color: #383535;
  text-align: center;
  font-style: bold;
  background-color:rgb(255, 99, 51, 0.75);
  display: inline-block;
  border-radius: 7.5px;
}

/* PARAGRAPH */
#mission-statement{
  font-size: 1.4vw;
  color: #3b3b3b;
  text-align: center;
  margin: 0 5vw;
  line-height: 1.5em;
  border-radius: 7.5px;
  background-color:rgb(163, 162, 162, 0.8);
}

/* TAG BUTTON */
#tag-definition-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#tag-definition-button{
  border: 2px #4d83db;
  background-color: #4d83db;
  min-height: 80px;
  min-width: 355px;
  font-size: 35px;
  border-radius: 7.5px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#infoButtonsholder{
  display: flex;
  height: 250px;
  justify-content: center;
}

#submitButtonholder{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* COUNCIL BUTTON */
#council-definition-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#council-definition-button{
  border: 2px #4d83db;
  background-color: #4d83db;
  min-height: 80px;
  min-width: 430px;
  font-size: 35px;
  border-radius: 7.5px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* REPORT BUTTON */
#report-button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#report-button{
  border: 2px tomato;
  background-color: tomato;
  margin-top: 250px;
  min-height: 80px;
  min-width: 500px;
  font-size: 40px;
  border-radius: 7.5px;
}

/* Whitespace at the bottom */
#bottom-of-page-whitespace{
  min-height: 30px;
  display: block;
}

#credits{
  height: 135px;
  position:relative;
  width: 100%;
  background-color: #383535;
  text-align: center;
  color: #c7c7c7;
}
