

#Tag_Info_Header {
  background-color: ;
  color: ;
  padding: ;
  text-align: ;
}

#Explanation_of_Tags {
  background-color: ;
  color: ;
  padding: ;
  text-align: ;
}



.definition {
  background-color: ;
  color: ;
  padding: ;
}
